@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Indie Flower";
	src: url("/fonts/indie_flower.woff2") format("woff2");
}

body {
}

:root {
	font-family: "Indie Flower", serif;
	font-size: 24px;
	color-scheme: light;
	background: url("/flowers.png") repeat;
	cursor: url("/cursor/cursor1.png"), auto;
	animation:
		cursor 1s infinite,
		scroll-bl 5s linear infinite;
	background-color: #f0d7d7;
}

.pixelated {
	image-rendering: pixelated;
}

.not-pixelated {
	image-rendering: auto;
}

@keyframes scroll-bl {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -250px 250px;
	}
}

/* 8 cursosrs */
@keyframes cursor {
	0% {
		cursor: url("/cursor/cursor1.png"), auto;
	}
	12% {
		cursor: url("/cursor/cursor2.png"), auto;
	}
	25% {
		cursor: url("/cursor/cursor3.png"), auto;
	}
	37% {
		cursor: url("/cursor/cursor4.png"), auto;
	}
	50% {
		cursor: url("/cursor/cursor5.png"), auto;
	}
	62% {
		cursor: url("/cursor/cursor6.png"), auto;
	}
	75% {
		cursor: url("/cursor/cursor7.png"), auto;
	}
	87% {
		cursor: url("/cursor/cursor8.png"), auto;
	}
	100% {
		cursor: url("/cursor/cursor1.png"), auto;
	}
}

/* Buttons and hoverables */
a,
button,
input {
	cursor: url("/cursor/cursor1.png"), auto;
	animation: click 1s infinite;
}

@keyframes click {
	0% {
		cursor: url("/click/click1.gif"), auto;
	}
	12% {
		cursor: url("/click/click2.gif"), auto;
	}
	25% {
		cursor: url("/click/click3.gif"), auto;
	}
	37% {
		cursor: url("/click/click4.gif"), auto;
	}
	50% {
		cursor: url("/click/click5.gif"), auto;
	}
	62% {
		cursor: url("/click/click6.gif"), auto;
	}
	75% {
		cursor: url("/click/click7.gif"), auto;
	}
	87% {
		cursor: url("/click/click8.gif"), auto;
	}
	100% {
		cursor: url("/click/click1.gif"), auto;
	}
}
